
body{
    background-color: white;
}

.form-custom{
    background-color: white;
}

#container {
    height:100%;
    border-collapse:collapse;
    display : table;
}

#footer {
    width:100%;
    height:auto;
    background: #0b2e13;
    color: white;
}